%html
  %head
    %title Recipe Box
    %link{:href => "http://fonts.googleapis.com/css?family=Quattrocento:400,700|Quattrocento+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %header
      %h1
        %a{:href => "/recipes"} Recipe Box
    .main
      %p
        %h2
          = @recipe_info[0]["name"]
      %p
        %h3
          Description
        = @recipe_info[0]["description"]
      %h3
        Ingredients
      %ol.ingredients
        - @ingredients.each do |ingredient|
          %li
            %span
              = ingredient["name"]
      %p
        %h3
          Instructions
        = @recipe_info[0]["instructions"]
      %p.back
        %a{:href => "/recipes"} Back to Recipe Box



